(rule
	(Do not drink pop before eating anything in the morning.
	Horrible pain like gas or something.))

(shaving times
	(shave when there are fewest people around))

(The hallways are  full of people in between classes,  so if you don't
look acceptable or don't want to  be seen, you should not move between
campus rooms then.)

(Avoid people for movements - have planner plan when people are or are
not in a room.)

(Plan for charging  the laptop, as well as  for having the headphones,
etc.)

(Plan to have certain surivival information on hand.)

(Plan when to eat, which lockers to go to, etc.)
